:root {
  width: 100%;
  height: 100%;
  color: $dark;
  word-wrap: break-word;
  font-weight: 400;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transpent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page {
  width: inherit;
  height: inherit;
  margin: 0;
  background: black url("../images/background.png");

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: url("../images/shadow.png") 0% 0% / 100% 100% no-repeat;
  }

  &__outdated {
    margin: 3px 0;
    padding: 3px 0;
    background: #ccc;
  }

  &__noscript {
    font-size: large;
    color: red;
  }

  &__container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $container) {
      width: auto;
      height: auto;
    }
  }

  &__inner {
    width: $container;
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 0; 
    padding: 0 20px;
    font-family: $second-font-family;
    font-size: 36px;
    font-weight: 200;
    color: white;
    text-align: center;

    @media (max-width: 960px) {
      margin-bottom: 20px; 
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__card {
    margin: 25px 40px;

    @media (max-width: 960px) {
      margin: 20px;
    }
  }
}