.card {
  width: 320px;

  &__body {
    user-select: none;
    cursor: pointer;

    .card.is-disabled & {
      color: rgba($color: $disabled, $alpha: .5);
      cursor: default;
    }
  }

  
  &__header {
    display: flex;
    height: 44px;
    margin-bottom: -1px; // Fix the gap in IE11/Edge
  }

  &__corner {
    position: relative;
    width: 43px;
    background: linear-gradient(-45deg, white, white 28px, $accent 28px, $accent 32px, transparent 32px);

    .card__body:hover & {
      background: linear-gradient(-45deg, white, white 28px, $accent--hover 28px, $accent--hover 32px, transparent 32px);
    }

    .card.is-selected & {
      background: linear-gradient(-45deg, white, white 28px, $selected 28px, $selected 32px, transparent 32px);
    }

    .card.is-disabled & {
      background: linear-gradient(-45deg, white, white 28px, $disabled 28px, $disabled 32px, transparent 32px);
    }
  }

  &__rectangle {
    flex-grow: 1;
    padding: 15px 0 0 8px;
    border: 4px solid $accent;
    border-bottom: none;
    border-left: none;
    border-radius: 0 12px 0 0;
    background: white;

    .card__body:hover & {
      border-color: $accent--hover;
    }

    .card.is-selected & {
      border-color: $selected;
    }

    .card.is-disabled & {
      border-color: $disabled;
    }
  }

  &__desc {
    color: $dimmed;

    .card.has-note & {
      color: $selected;
    }

    .card.is-disabled & {
      color: inherit;
    }
  }

  &__main {
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 437px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 0 46px 25px;
    border: 4px solid $accent;
    border-top: none;
    border-radius: 0 0 10px 10px;
    background: white;

    .card__body:hover & {
      border-color: $accent--hover;
    }

    .card.is-selected & {
      border-color: $selected;
    }

    .card.is-disabled & {
      border-color: $disabled;
    }
  }

  &__heading {
    position: relative;
    z-index: 10;
    margin-bottom: 15px;
    font-size: 48px;
  }

  &__feature {
    display: block;
    font-size: 24px;
  }

  &__list {
    position: relative;
    z-index: 10;
    color: $dimmed;
    font-size: 14px;
    line-height: 16px;

    .card.is-disabled & {
      color: inherit;
    }
  }

  &__img {
    position: absolute;
    bottom: -95px;
    left: -25px;
    z-index: 0;
    width: 370px;

    .card.is-disabled & {
      opacity: .5;
    }
  }

  &__circle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: $accent;
    color: white;
    text-align: center;

    .card__body:hover & {
      background: $accent--hover;
    }

    .card.is-selected & {
      background: $selected;
    }

    .card.is-disabled & {
      background: $disabled;
    }
  }

  &__weight {
    position: relative;
    top: 20px;
  }

  &__amount {
    font-size: 42px;
    line-height: 22px;
  }

  &__measure {
    font-size: 21px;
    line-height: 22px;
  }

  &__footer {
    font-size: 13px;
    line-height: 16px;
    color: white;
    text-align: center;

    .card.is-disabled & {
      color: #ffff66;
    }
  }

  &__buy {
    color: $accent;

    &:hover {
      color: $accent--hover;
    }
  }

  &__link {
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
    color: inherit;
  }
}