@font-face {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 200;
  src: local("Exo 2 Extra Light"), local("Exo2-ExtraLight"),
    url("../fonts/exo-2-v4-cyrillic_latin-200.woff2") format("woff2"),
    url("../fonts/exo-2-v4-cyrillic_latin-200.woff") format("woff");
}
