doctype html

//-
//- <html> tag is deliberately deleted.
//- Info here: google.github.io/styleguide/htmlcssguide.html#Optional_Tags
//-

block head
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex")
    meta(name="author" content="Daur Gamisonia, daurgam@gmail.com, Russia | Moscow")

    // build:css css/styles.min.css 
    link(href="css/normalize.css" rel="stylesheet")
    link(href="css/main.css" rel="stylesheet")
    // endbuild 

body.page(lang="ru")
  <!--[if lte IE 10]>
  <p class="page__outdated">Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">обновите свой браузер</a>, чтобы улучшить качество отображения сайта.</p>
  <![endif]-->

  noscript
    span.page__noscript У вас выключен JavaScript!

  .page__container
    block content

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="js/main.js")

  // build:remove
  script(src="js/_viewport-size.js")
  // endbuild